@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

$baseline: 1rem;

$background: #2e3440;
$color: #d8dee9;

$links: #5e81ac;
$hover-links: #81a1c1;
$visited-links: #81a1c1;

$font-size: 1.125rem;
$font-family: "Jetbrains Mono", sans-serif;
$line-height: 1.75;
$code_font: 400 1.125rem/1.75 SFMono-Regular, Consolas, Liberation Mono, Menlo,
	monospace;

$quote-bg: #4c566a;
$quote-border: #3b4252 8px solid;
